\__pycache___
venv
venv/
/venv
db.sqlite3
static
media
.idea
/.idea
.idea/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*.py[cod]
*$py.class
**/migrations/
**/**/migrations
transactions.csv
transactions.pkl
/transactions.csv
/transactions.pkl
transactions.csv/
transactions.pkl/
rents1.csv
rents2.csv
rents3.csv
rents4.csv
output.json
.env
.env.local
.env.prod
.env.test
env
log
/log
log/
.states.json
.cities.json
.countries.json
.ipynb_checkpoints/
Untitled.ipynb

